<div class="row mainNavbar">
    <div class="col-sm-2 center">
        <a href="javascript:void(0)" class="navbar-brand">
            <small class="fontColor">
                    <i class="fa fa-leaf"></i>
                    BFE
                </small>
        </a>
    </div>

    <div class="col-sm-8 " style="text-align: right;">
        <div class="btn-group navbar-brand" style="width:100%" btnRadioGroup [(ngModel)]="navigationValue">
            <label class="btn btn-info" btnRadio="Manage" tabindex="0" role="button">Manage</label>
            <label class="btn btn-info" btnRadio="Flow" tabindex="1" role="button">Flow</label>
            <label class="btn btn-info" btnRadio="Other" tabindex="3" role="button">Other</label>
        </div>
    </div>

    <div class="col-sm-2" style="text-align: right;">
        <div class="btn-group" dropdown placement="bottom right" style="margin-right:20px;">
            <button id="button-alignment" dropdownToggle type="button" class="profile-img-card" aria-controls="dropdown-alignment"></button>
            <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Setting</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Person Details</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Exit</a></li>
            </ul>
        </div>
    </div>
</div>


<app-management *ngIf="navigationValue == 'Manage'">
</app-management>
<app-flow *ngIf="navigationValue == 'Flow'">
</app-flow>