.col-sm-2 {
    width: 7%!important;
}

.sidebar {
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    background-color: #f2f2f2;
    text-align: center;
    height: 100vh;
    width: 100%;
    line-height: 1;
}

.siderightbar {
    position: relative;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
    height: 100vh;
    width: 100%;
    line-height: 1;
    margin-left: 20px;
}

.nav-item :after {
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
}

.nav-item:not(:last-child) {
    -webkit-box-shadow: 10px 0px 0px -9px red;
    -moz-box-shadow: 10px 0px 0px -9px red;
    box-shadow: 10px 0px 0px -9px red;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    width: 100px;
    height: 20px;
    border: 1px solid red;
}

ul li a {
    /* border: 1px solid #ccc;
    border-width: 0 1px 1px 0; */
    display: block;
    width: 100px;
    height: 20px;
    border: 1px solid red!important;
}


/* .sidebar:before {
    content: "";
    display: block;
    width: 15.4%;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
} */

.sideContainer {
    height: 50px;
    width: 100%;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list>li.active {
    background-color: #fff;
}

.nav-list>li:first-child {
    border-top: 0;
}

.nav-list>li {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.plusTrigger {
    color: green;
    position: fixed;
    display: inline-block;
    margin-left: 90px;
    /* margin-top: 7px; */
    cursor: pointer;
}

.saveTrigger {
    margin-top: 7px;
    margin-left: 110px;
    position: fixed;
    color: green;
    display: inline-block;
    cursor: pointer!important;
}

.ulSide {
    cursor: "pointer";
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    background-color: #fff;
    position: inherit;
    width: 100%;
    text-align: left;
}

.ulSideClose {
    cursor: pointer;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    background-color: #fff;
    height: 50px!important;
    position: inherit;
    width: 100%;
    text-align: left;
}

.ulContainer {
    padding-top: 15px;
    /* padding-bottom: 10px; */
    padding-left: 30px;
    height: 40px;
}

.liSide {
    cursor: pointer!important;
    width: 100%;
    padding-left: 50px;
    margin-top: 10px;
}

.liShow {
    visibility: visible;
}

.liHide {
    visibility: hidden;
}

.liPostion {
    position: absolute;
    margin-left: -40px;
    width: 100%;
    margin-top: 10px;
}

.middleLi {
    height: 30px;
}

.flowPanel {
    position: absolute;
    height: 75%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.liRight {
    overflow: overlay;
    overflow-x: overlay;
    overflow-y: hidden;
    text-align: left;    
}

.ulRight {
    background: #fff;
    text-align: left;
    display: -webkit-box;
    padding: 7px, 0, 5px, 5px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 0.5px solid rgba(0, 0, 0, .125);
    cursor: pointer;
}

.ulRight:active {
    background-color: darkslategrey;
}

.ulRight:hover {
    background-color: #6c757d;
}

.drawAdapter {
    cursor: pointer;
}