<div class="row">
    <div class="col-md-2">
        <div class="sidebar">
            <!-- <button type="button" class="btn btn-success btn-sm sideContainer" (click)="addnewConnector(newConnectorTemplate)"> Add New Container </button> -->
            <div style="height:50px; display: inline-flex; width: 100%">
                <input type="text" id="keyword" class="form-control" style="height:100%" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" placeholder="Keywords">
                <div style="background:white">
                    <button type="button" style="height:100%" class="btn btn-outline-secondary" (click)="searchByKeyword()">Search</button>
                </div>
            </div>
            <div *ngIf="sideTree?.TreeRoot">
                <div *ngFor="let connectorNode of sideTree.TreeRoot" [ngClass]="{'list-group ulSide': connectorNode.ExpansionFlag, 'list-group ulSideClose middleLi': !connectorNode.ExpansionFlag}">
                    <div (click)="showHideConnector(connectorNode)" class="ulContainer">
                        <i *ngIf="connectorNode.ExpansionFlag" class="fa fa-minus"></i>
                        <i *ngIf="!connectorNode.ExpansionFlag" class="fa fa-plus"></i> {{connectorNode.ConnectorName}}
                    </div>
                    <div [ngClass]="{ 'liShow': connectorNode.ExpansionFlag, 'liHide': !connectorNode.ExpansionFlag}" style="padding-left:30px;">
                        <div *ngIf='connectorNode.TriggerTree' [ngClass]="{'middleLi': connectorNode.ExpansionFlag && !connectorNode.TriggerTree.ExpansionFlag }" (click)="showHideTrigger(connectorNode.TriggerTree)">
                            <span style="margin-left:20px;">
                                <i *ngIf="connectorNode.TriggerTree.ExpansionFlag" class="fa fa-minus"></i>
                                <i *ngIf="!connectorNode.TriggerTree.ExpansionFlag" class="fa fa-plus"></i>
                                {{connectorNode.TriggerTree.TriggerNodeName}}
                                <div [ngClass]="{ 'liShow': connectorNode.ExpansionFlag && connectorNode.TriggerTree.ExpansionFlag, 'liHide': !connectorNode.TriggerTree.ExpansionFlag} ">
                                    <div *ngFor="let trigger of connectorNode.TriggerTree.TriggerChild" id="{{trigger.TriggerChildId}}" elementflag="1" class="liSide">
                                        <span> {{trigger.TriggerChildName}} </span>
                            <input type="hidden" value="{{connectorNode.ConnectorId}}">
                        </div>
                    </div>
                    </span>
                </div>

                <div *ngIf='connectorNode.ActionTree' [ngClass]="{'middleLi': connectorNode.ExpansionFlag && !connectorNode.ActionTree.ExpansionFlag }" (click)="showHideAction(connectorNode.ActionTree)">
                    <span style="margin-left:20px;">
                                    <i *ngIf="connectorNode.ActionTree.ExpansionFlag" class="fa fa-minus"></i>
                                    <i *ngIf="!connectorNode.ActionTree.ExpansionFlag" class="fa fa-plus"></i>
                                    {{connectorNode.ActionTree.ActionNodeName}}
                                    <div [ngClass]="{ 'liShow':connectorNode.ExpansionFlag && connectorNode.ActionTree.ExpansionFlag, 'liHide': !connectorNode.ActionTree.ExpansionFlag} ">
                                        <div *ngFor="let action of connectorNode.ActionTree.ActionChild" id="{{action.ActionChildId}}" elementflag="2" class="liSide">
                                            <span>{{action.ActionChildName}}</span>
                    <input type="hidden" value="{{connectorNode.ConnectorId}}">
                </div>
            </div>
            </span>
        </div>
    </div>
</div>
</div>
</div>
</div>


<div class="col-md-8">
    <div class="row" style="margin-left: auto;">
        <alert *ngIf="messageInfo.MessageType == null" type="success" class="col-md-12">
            <strong>Tip: </strong> please create the new flow relationship, the flow include only one trigger and one more than action.
        </alert>
        <alert *ngIf="messageInfo?.MessageType == 3" type="success" class="col-md-12">
            <strong>Success: </strong> {{messageInfo.Message}}
        </alert>
        <alert *ngIf="messageInfo?.MessageType == 0" type="info" class="col-md-12">
            <strong>Info: </strong> {{messageInfo.Message}}
        </alert>
        <alert *ngIf="messageInfo?.MessageType == 1" type="warning" class="col-md-12">
            <strong>Warning: </strong> {{messageInfo.Message}}
        </alert>
        <alert *ngIf="messageInfo?.MessageType == 2" type="danger" class="col-md-12">
            <strong>Error: </strong> {{messageInfo.Message}}
        </alert>
    </div>
    <div class="row input-group mb-3" style="margin-left:auto;">
        <input type="text" class="form-control" [(ngModel)]="currentFlow.Name" placeholder="Flow's name" aria-label="Flow's name" aria-describedby="basic-addon2">
        <input type="text" class="form-control" [(ngModel)]="currentFlow.Description" placeholder="Flow's description" aria-label="Flow's description" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="saveFlow()">Save Flow</button>
        </div>
    </div>

    <div id="flow-panel" class='col-md-12 flowPanel'>
    </div>

</div>
<div class="col-md-2">
    <div class="siderightbar">
        <div style="width:100%; height:50px; background:white">
            <button type="button" style="width:100%; height:50px;" class="btn btn-outline-secondary" (click)="viewFlow()">View Flow</button>
        </div>
        <ul class="list-group">
            <div *ngFor="let flow of flows" id="{{flow.Id}}" class="ulRight" (click)="selectFlow(flow.Id)">
                <li class="liRight" style="width: 60%; padding-top: 5px;">
                    <span>{{flow.Name}}</span>
                </li>
                <cswitch class="switch-medium" style="margin-top:5px;"></cswitch>
            </div>
        </ul>
    </div>
</div>
</div>

<!-- connector popup -->
<div>
    <ng-template #newConnectorTemplate class="modal fade row" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add Connctor</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeConnector()">
                        <span aria-hidden="true">&times;</span>
                        </button>
        </div>
        <div class="modal-body">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Connector Name</span>
                </div>
                <input type="text" [(ngModel)]="newConnector.Name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Connector Description</span>
                </div>
                <input type="text" [(ngModel)]="newConnector.Discription" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>

            <!-- trigger -->
            <div class="modal-header">
                <h6 class="modal-title pull-left">Add Trriger</h6>
                <i class="fa fa-plus plusTrigger" (click)="addNewTrigger()"></i>
                <i class="fa fa-floppy-o saveTrigger" (click)="saveNewTrigger()"></i>
            </div>

            <div *ngIf="newTrigger">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Trigger Name</span>
                    </div>
                    <input type="text" [(ngModel)]="newTrigger.Name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Trigger Description</span>
                    </div>
                    <input type="text" [(ngModel)]="newTrigger.Discription" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <div style="margin:20px;" *ngIf="!newTrigger">
                <!-- <ul class="list-group">
                        <li *ngFor="let trigger of newConnector.Triggers" class=" list-group-item d-flex justify-content-between align-items-center ">
                            {{trigger.Name}}
                            <span class="badge badge-primary badge-pill ">{{trigger.Actions.Count()}}</span>
                        </li>
                    </ul> -->
                <div *ngFor="let trigger of newConnector.Triggers ">
                    <div>
                        <span>Trigger Name: {{trigger.Name}}</span>
                        <br>
                        <div class="modal-header ">
                            <h6 class="modal-title pull-left ">Add Action</h6>
                            <i class="fa fa-plus plusTrigger " (click)="addNewAction(trigger.Id) "></i>
                            <i class="fa fa-floppy-o saveTrigger " (click)="saveNewAction() "></i>
                        </div>
                        <div *ngIf="newAction && newAction.TriggerId == trigger.Id">
                            <div class="input-group input-group-sm mb-3 ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">Action Name</span>
                                </div>
                                <input type="text " [(ngModel)]="newAction.Name " class="form-control " aria-label="Small " aria-describedby="inputGroup-sizing-sm ">
                            </div>

                            <div class="input-group input-group-sm mb-3 ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">Action Description</span>
                                </div>
                                <input type="text " [(ngModel)]="newAction.Discription " class="form-control " aria-label="Small " aria-describedby="inputGroup-sizing-sm ">
                            </div>
                        </div>
                        <div *ngIf="!newAction " style="margin:10px;" class="list-group ">
                            <h6 class="mb-1 ">Action Details: </h6>
                            <a *ngFor="let action of newConnector.Actions " href="javascript:void(0)" class="list-group-item-action flex-column align-items-start ">
                                <!-- <div class="d-flex w-100 justify-content-between ">
                                        <h6 class="mb-1 ">Details: </h6>
                                        <small class="text-muted ">{{ action.Name }}</small>
                                    </div> -->
                                <p class="mb-1 ">{{ action.Discription }}</p>
                                <small class="text-muted ">{{ action.Discription }}</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- view trriger -->
            <div>

            </div>

            <!-- action -->
            <!-- 
                <div class="modal-header ">
                    <h4 class="modalo-title pull-left ">Action</h4>
                </div> -->

            <!-- foot -->
            <div class="input-group input-group-sm mb-3 ">
                <input style="visibility:hidden " type="text " class="form-control " aria-label="Small " aria-describedby="inputGroup-sizing-sm ">
                <button type="button " class="btn btn-primary " (click)="savenewConnector()">
                                Save Connecotr
                              </button>
            </div>
        </div>
    </ng-template>
</div>

<!-- adapter popup -->
<div *ngIf="adapterInfo" bsModal #adapter="bs-modal" class="modal fade" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Adapter</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideAdapter()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <!--Property List-->
            <div style="width: 100%; margin-left: 10px; margin-top: 10px">
                <div style="float: left;width: 50%">
                    <p>Action:{{ adapterInfo.ActionName }}</p>
                    <p class="col-sm-9 form-control" *ngFor="let action of adapterInfo.Action">{{ action.Name }} </p>
                </div>
                <div style="float: left;width: 50%">
                    <p>Trigger:{{ adapterInfo.TriggerName }}</p>
                    <div *ngFor="let action of adapterInfo.Action">
                        <select style="margin-top:16px;" class="col-sm-9 form-control" [(ngModel)]="action.trigger">  
                            <option [ngValue]=""></option>
                            <option class="col-md-1" *ngFor="let trigger of adapterInfo.Trigger" [value]="trigger.Name">{{ trigger.Name }}    
                            </option>  
                        </select>
                    </div>
                </div>
            </div>
            <!-- foot -->
            <div>
                <hr/>
            </div>
            <div class="input-group input-group-sm mb-3 ">
                <hr/>
                <button type="button " style="margin-right: 10px;" class="btn btn-primary " (click)="hideAdapter()">
                        Save Adapter
                    </button>
            </div>
        </div>
    </div>
</div>