/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/font-awesome/css/font-awesome.min.css");
.labelClass {
    padding: 0.4em;
    font: 16px sans-serif;
    color: white;
    z-index: 100;
    border: 1px solid #FF9933;
    cursor: pointer;
    background: #FF9933;
}

.profile-img-card {
    width: 60px;
    height: 60px;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 0.5px solid #17a2b8;
    z-index: 9999;
    background-color: #17a2b8;
    background-image: url("./img/user.png");
    background-size: 100% 100%;
    cursor: pointer;
}